nav {
    display: block;
	font-family: 'Droid Sans', serif;
	font-size:20px;
	text-align:center;
}

#headnav{
	float:right;
}
#headdiv{
	height:25px;
}
#headname{
	font-size:20px;
	text-align:left;
	float:left;
}
#header {
	height:4em;
	width:100%;
}

.headertext{
	text-align:center;
	font-family: 'Droid Sans', serif;
	font-size:60px;
}
#headertext{
	text-align:center;
	font-family: 'Droid Sans', serif;
	font-size:60px;
}

table.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
	
#content{
	margin-left:auto;
	margin-right:auto;
	height:26em;
}
	
.font{
	text-align:center;
	font-family: 'Droid Sans', serif;
	font-size:60px;

}

.black{
	color:black;
}
	
/*#footer{
	width:100%;
	height: 4em;
	left:0;
}
*/

li{
	position:inline;
	float:left;
	display:inline-block;
	padding-top:20px;
}
	
i{
	padding-top:10px;
	padding-left:12px;
	text-decoration:none;
	text-align:center;
}

div i{
text-align:center;
}

/*link styling*/

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #585858;
}

/* selected link */
a:active {
    color: #0000FF;
}
